HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.idea
*.iws
*.iml
*.ipr
.idea/
/out/
/lib/
/gradle/
gradlew
gradlew.bat
target/
spring-shell.log
.DS_Store
.classpath
.project
.settings
.env
docker-compose.override.yml